@CHARSET "UTF-8";

@font-face{font-family:'Essays 1743';src:local('Essays 1743'),url('f/essays1743-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
html{overflow-y:scroll;-webkit-font-smoothing:antialiased}
html,body{background:#fff;color:#000;margin:0;padding:0}
body{font:large/1.556 Palatino,'Palatino Linotype','Book Antiqua',Georgia,'Times New Roman',serif;word-spacing:.1em;max-width:960px;margin:0 auto;padding-bottom:2em}
p{font-size:large; margin:1.556em 0; overflow: hidden;}
a{text-decoration:none}
h1,h2,h4{font-family:'Essays 1743',Palatino,'Palatino Linotype','Book Antiqua',Georgia,'Times New Roman',serif;font-weight:normal; text-transform:uppercase; text-shadow:0 0 1px #667}
h1{font-size:266.7%;line-height:1.1;text-align:center;width:100%;margin:1em 0}
h2{font-size:210%;line-height:1.3125;margin:1.167em 0;text-align:center;clear:both}
time {float: right; margin-right: 1em; margin-top: 0.4em; color: gray;}


body {
	margin-top: 1em;
}
#header {
	background: whitesmoke;
	padding: 0.3em 2em;
	overflow: hidden;
	border-radius: 10px;
}

hr {
	border: 1px solid lightgray;
}

a {
    color: #0398CA;
}

#flashMessages {
	overflow: hidden;
	list-style-type: none;
}
#flashMessages li {
	color: red;	
}